*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #1f1f1f1f;
    display: flex;
}
.cultivator{
    display: flex;
    flex-direction:row;
    background-color: rebeccapurple;
}
.display__input {
    background-color: tomato;
}
li{
    list-style: none;
    background-color: springgreen;
}
input {
    border-radius: 20px;
    margin: 10px 10px;
    padding: 5px;
}
.img{
    border-radius: 50%;
    margin: 5px;
    height:200px;
    width:200px;
    background-color: seagreen;
}
.btn{
    margin: 5px;
    padding: 5px 15px;
    height: fit-content;
    border-radius: 20px;
}

